.nav{
    width:250px;
    height:100vh;

    display:flex;
    flex-direction:column;

    background:#0F172A;
    color:white;
}

.nav h1{
    padding:25px;
    font-size:24px;
}

.nav h1 i{
    margin-right:10px;
}

.nav ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:8px;
    padding:0 15px;
    margin-top:20px;
}

.nav ul li a{
    text-decoration:none;
    color:#CBD5E1;

    display:flex;
    align-items:center;

    padding:14px 18px;

    border-radius:12px;

    transition:0.3s;
}

.nav ul li a i{
    margin-right:12px;
}

.nav ul li a:hover{
    background:#7C3AED;
    color:white;
}

.theme-toggle{
    margin-top:auto;

    padding:20px;

    border-top:1px solid rgba(255,255,255,0.1);

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.switch{
    position:relative;
    width:50px;
    height:25px;
}

.switch input{
    opacity:0;
}

.slider{
    position:absolute;
    inset:0;
    background:#64748B;
    border-radius:30px;
    cursor:pointer;
}

.slider:before{
    content:"";
    position:absolute;

    width:18px;
    height:18px;

    left:4px;
    top:3px;

    border-radius:50%;
    background:white;

    transition:0.3s;
}

input:checked + .slider{
    background:#7C3AED;
}

input:checked + .slider:before{
    transform:translateX(24px);
}
body.dark{
    background:#121212;
    color:white;
}

body.dark .nav{
    background:#1e1e1e;
    color:white;
}

body.dark .header{
    background:#1e1e1e;
    color:white;
}

body.dark .card{
    background:#2a2a2a;
    color:white;
}

body.dark .chart-card{
    background:#2a2a2a;
    color:white;
}body.dark .nav h1{
    color: #F8FAFC;
    font-size: 25px;
}
body.dark  h1 i{
color: #6366F1;
font-size: 40px;
}